/*make the buttons look like links*/
button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
}


.speak {
    /*font-size: 1px;*/
    font-size: x-small;
    color: #e5ef57
}

.container {
    position: relative;
    display: inline-block;
}


.box {
    width: 300px;
    margin-top: -35%;
    margin-right: auto;
    margin-left: 40%;
    margin-bottom: -50px;
    border-radius: 15px;
    background: #7a6454;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial, serif;
    position: relative;
}


.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #7a6454;
    border-right: 15px solid transparent;
    border-top: 15px solid #7a6454;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #7a6454;;
    border-top: 15px solid #7a6454;;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #7a6454;
    border-right: 10px solid transparent;
    border-top: 10px solid #7a6454;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
}

.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #7a6454;
    border-top: 10px solid #7a6454;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
}

img {
    max-width: 100%;
    height: auto;
}