{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container">
        <div>
            <img src="/static/img/the_dog_philosopher.jpg" onload=speechBubble.update()>
        </div>
        <div class="box sb2">
            <p>
                <button class="speak" onclick="speechBubble.say()">[Speak]</button>
                <button class="speak" onclick="speechBubble.update()">[New Joke]</button>
            </p>
            <span id="joke">"No joke"</span>
        </div>

    </div>
{% endblock %}

{% block head %}
    <script src="/static/js/speak.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/speech_box.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}